@theme {
  /* Font Settings */
  --font-iransans: 'var(--font-iransans)';
  --font-iransans--font-feature-settings: 'ss01', 'ss03', 'ss04';

  /* Font Weights */
  --font-weight-extrablack: 950;
  --font-weight-heavy: 1000;

  /* Text Sizes */
  --text-heading-1: 2.1875rem; /* 35px */
  --text-heading-2: 1.75rem; /* 28px */
  --text-heading-3: 1.5625rem; /* 25px */

  /* Primary Colors */
  --color-primary-light: #5a4bd2;
  --color-primary-main: #5a4bd2;
  --color-primary-dark: #5a4bd2;
  --color-primary-active: #5a4bd2;

  /* Secondary Colors */
  --color-secondary-light: #68baa6;
  --color-secondary-main: #68baa6;
  --color-secondary-dark: #68baa6;
  --color-secondary-active: #68baa6;

  /* Neutral Colors */
  --color-black: #000;
  --color-gray-100: #aaaaaa;
  --color-gray-200: #7a7a7a;

  /* Hero section */
  --color-hero-section-main: #2e276c;
}
